@charset "UTF-8";
body {
  background-image: url("https://image.freepik.com/foto-gratis/resumen-fondo-azul-gradiente-fondo-azul-pagina-web-o-presentacion_79161-487.jpg");
  background-repeat: none;
  background-size: cover;
  margin:0 ;
}



table{ /*Para la tabla*/
	margin: auto;
	border-collapse: collapse;
	vertical-align:middle;
	padding-top:50px;
}

th, td {
	padding: 1em;
}

.centrado{
	display:block;
    margin:auto;
	
}

.wrapper{
	width:50%;
	heigth:50%;
	border: 1px solid black;
	/*display: table-cell;
	vertical-align:middle;*/
	margin: 0 auto;
	padding-top:10%;
}

.padSuperior{
	padding-top:200px;
}

button{
    margin: 0 auto;
}

.centradoVertical{
	
	margin: 0;
	position:relative;
	top:50%;
	/*left:50%;
	-ms-transform:translateY(-50%,-50%);
	transform:translateY(-50%,-50%);*/
}

.cabecera {
	display: flex;
	justify-content: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	font-weight: bold;
	font-variant: normal;
	color:  #212f3d ;
	text-transform: uppercase;
	margin-bottom: 25px;
	margin-top: 25px;
}

.foot {
	display: flex;
	justify-content: center;
	padding: 0px;
	height: auto;
	width: 850px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 0%;
	right: 0%;
	bottom: 0px;
	margin-bottom: 25px;
}

