@charset "UTF-8";

*{
	font-family: arial;
}

body {
  background-image: url("https://image.freepik.com/foto-gratis/resumen-fondo-azul-gradiente-fondo-azul-pagina-web-o-presentacion_79161-487.jpg");
  background-repeat: none;
  background-size: cover;
  margin:0 ;
}



table{ /*Para la tabla*/
	margin: auto;
	border-collapse: collapse;*/
	/*vertical-align:middle;*/
	padding-top:50px;
}
h1{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.wrapper table tr, td {
	padding: 1em;
	padding-top:1em;
	/*text-align: center;*/
	vertical-align: middle;
}

.centrado{
	display:block;
    margin:auto;
}

.centrarTexto{
	text-align:center;
}

.boton{
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 4px;
}


.boton1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.boton1:hover {
  background-color: #008CBA;
  color: white;
}

.boton1:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.wrapper{
	width:50%;
	heigth:50%;
	/*border: 1px solid black;
	display: table-cell;
	vertical-align:middle;*/
	margin: 0 auto;
	padding-top:5%;
}

.wrapper table{
	background-color: rgba(245,245,245,0.7);
	border-radius: 15px;
}

.inputTxt{
	border-bottom: 2px solid cornflowerblue;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size:18px;
	font-family:arial;
	color:black;
	/*border-radius:5px;*/
	width:80%;
	transition-property: width;
  	transition-duration: 0.5s;
  	transition-timing-function: ease;
  	border-top: 0px;
  	border-left: 0px;
  	border-right: 0px;
  	background-color: transparent;
}

.inputTxt:focus{
	border-bottom: 2px solid darkblue;
	width:90%;
}

.padSuperior{
	padding-top:20px;
}

button{
    margin: 0 auto;
}

.centradoVertical{
	
	margin: 0;
	position:relative;
	top:50%;
	/*left:50%;
	-ms-transform:translateY(-50%,-50%);
	transform:translateY(-50%,-50%);*/
}
/*
.cabecera {
	display: flex;
	justify-content: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	font-weight: bold;
	font-variant: normal;
	color:  #212f3d ;
	text-transform: uppercase;
	margin-bottom: 25px;
	margin-top: 25px;
}

.foot {
	display: flex;
	justify-content: center;
	padding: 0px;
	height: auto;
	width: 850px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 0%;
	right: 0%;
	bottom: 0px;
	margin-bottom: 25px;
}

*/
.cabecera {
    display: flex;
	justify-content: center;
	font-family: OpenSans;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.cabecera table{
    width: 100%;
    background: #ffffff;
    border-bottom: 5px solid darkblue;
}

.cabecera table td, tr{
    padding: 0.5em;
	padding-top:0.5em;
    
}

.foot {
	display: flex;
	justify-content: center;
	padding: 0px;
	height: auto;
	width: 800px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 0%;
	right: 0%;
	bottom: 0px;
	margin-bottom: 20px;
    
    font-weight: bolder;
    font-size: 15px;
    font-family: OpenSans;
    color: #ffffff;
}

.foot table{
    border-radius: 30px;
    /*border: 2px solid #fff;*/
    background: darkblue;
    
    /*box-shadow:  5px 5px 0px #101010,
                -5px -5px 0px #424242;*/
    
   /* border: 3px solid #fff;*/
}

.foot table td, tr{
    padding: 0.5em;
	padding-top:0.5em;
}























