@charset "UTF-8";
body {
  background-image: url("https://image.freepik.com/foto-gratis/resumen-fondo-azul-gradiente-fondo-azul-pagina-web-o-presentacion_79161-487.jpg");
  background-repeat: none;
  background-size: cover;
  margin:0 ;
}



table{ /*Para la tabla*/
	margin: auto;
	border-collapse: collapse;
	
	
	
}

.centrado{
	display:block;
    margin:auto;
	
}

button{
    margin: 0 auto;
}



.cabecera {
	display: flex;
	justify-content: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	font-weight: bold;
	font-variant: normal;
	color: #00DFA4;
	text-transform: uppercase;
	margin-bottom: 25px;
	margin-top: 25px;
}

.foot {
	display: flex;
	justify-content: center;
	padding: 0px;
	height: auto;
	width: 850px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 0%;
	right: 0%;
	bottom: 0px;
	margin-bottom: 25px;
}

