body {
  background-image: url("https://cdn.pixabay.com/photo/2016/03/27/07/32/light-1282314_960_720.jpg");
  background-repeat: none;
  background-size: cover;

}

.cabecera {
	display: flex;
	justify-content: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	font-weight: bold;
	font-variant: normal;
	color: #00DFA4;
	text-transform: uppercase;
	margin-bottom: 25px;
	margin-top: 25px;
}

.foot {
	display: flex;
	justify-content: center;
	padding: 0px;
	height: auto;
	width: 850px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 0%;
	right: 0%;
	bottom: 0px;
	margin-bottom: 25px;
}

